.zb-quick-input-container {
    position: relative;
    display: inline-block;
}

    .zb-quick-input-container input[type=text] {
        width: 100%;
    }

    .zb-quick-input-container .zb-quick-input-clear-button {
        display: none;
        position: absolute;
        font-size: 1.3em;
        height: 1.3em;
        line-height: 1.3em;
        right: 0.2em;
        top: 0.2em;
        cursor: pointer;
        color: darkgrey;
    }

    .zb-quick-input-container .zb-quick-input-clear-button .zb-quick-input-clear-symbol {
        padding: 5px 10px;
    }

    .zb-quick-input-container input[type=text]:focus + .zb-quick-input-clear-button,
    .zb-quick-input-container:hover .zb-quick-input-clear-button {
        display: inline;
    }

    .zb-quick-input-container .zb-quick-input-clear-button:hover {
        color: #777;
    }

.zb-quick-input-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
    display: none;
}

    .zb-quick-input-items.zb-quick-input-items-open {
        border-bottom: 1px solid #d4d4d4;
        display: block;
    }

.zb-quick-input-items-scrollable div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

    .zb-quick-input-items-scrollable div:last-of-type {
        border-bottom: none;
    }

    .zb-quick-input-items-scrollable div:hover {
        background-color: #e9e9e9;
    }

    .zb-quick-input-items-scrollable div.zb-quick-input-active {
        background-color: #5791F5;
        color: #ffffff;
    }
